<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sentaroh.android.TaskAutomation">
    
    <!--<uses-sdk android:targetSdkVersion="11" />-->
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> 
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<!--<uses-permission android:name="android.permission.INTERNET"/>-->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <uses-permission android:name="android.permission.NFC"/>

    <application 
        android:icon="@drawable/main_icon"
        android:label="@string/app_name" android:theme="@style/Main" 
        android:allowBackup="true">
        <receiver 
    	    android:name=".SchedulerReceiver"
    	    android:icon="@drawable/main_icon" 
    	    android:label="TaskReceiver"
    	    android:process=":Svc"
    	    android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.ACTION_SHUTDOWN" />
				<action android:name="android.intent.action.LOCALE_CHANGED" />
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
				<action android:name="com.sentaroh.android.TaskAutomation.ACTION_START_ACTIVITY_TASK_STATUS"/>
				<action android:name="com.sentaroh.android.TaskAutomation.ACTION_TIMER_EXPIRED" />
				<action android:name="com.sentaroh.android.TaskAutomation.ACTION_START_SCHEDULER" />
				<action android:name="com.sentaroh.android.TaskAutomation.ACTION_RESTART_SCHEDULER" />
				<action android:name="com.sentaroh.android.TaskAutomation.ACTION_RESET_SCHEDULER" />
				<action android:name="com.sentaroh.android.TaskAutomation.ACTION_BUILD_EXEC_TASK_LIST" />
				<action android:name="com.sentaroh.android.TaskAutomation.ACTION_RELOAD_DEVICE_ADMIN" />
				<action android:name="com.sentaroh.android.TaskAutomation.EXTERNAL_INTERFACE_REQUEST" />
			</intent-filter>
		</receiver>

        <service
		    android:name=".SchedulerService"
            android:process=":Svc"
		    android:exported="false">
			<intent-filter>
				<action android:name="com.sentaroh.android.TaskAutomation.ACTION_SERVICE_HEARTBEAT" />
			</intent-filter>
						
		</service>

        <service
            android:name=".Log.LogService"
            android:process=":Log"
            android:exported="false">
        </service>

        <service
            android:name=".SchedulerMonitor"
            android:process=":Mon" android:exported="false">
        </service>
s
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" 
            android:launchMode="standard"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustPan" android:icon="@drawable/main_icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity 
	        android:name=".ActivitySettings"
            android:label="Settings"
            android:screenOrientation="unspecified"
            android:launchMode="standard" >
        </activity>
        <activity 
	        android:name=".ActivityTaskStatus"
            android:label="TaskStatus"
            android:process=":Sub"
            android:screenOrientation="unspecified"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden" 
            android:taskAffinity=".ActivityTaskStatus" android:excludeFromRecents="true">
        </activity>
        <activity 
	        android:name=".ActivityRestartScheduler"
            android:label="RestartScheduler"
            android:launchMode="singleTask"
            android:process=":Sub"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|keyboardHidden" 
            android:clearTaskOnLaunch="true"
            android:theme="@android:style/Theme.Translucent"
            android:taskAffinity=".ActivityRestartScheduler" android:excludeFromRecents="true">
        </activity>
        <activity 
	        android:name=".ActivityNfcReceiver"
            android:label="NfcReceiver"
            android:launchMode="singleTask"
            android:process=":Nfc"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|keyboardHidden" 
            android:clearTaskOnLaunch="true"
            android:theme="@android:style/Theme.Translucent" 
            android:excludeFromRecents="true">
			<!-- 
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
			    <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
			    <action android:name="android.nfc.action.TAG_DISCOVERED"/>
			    <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data
			    android:name="android.nfc.action.TECH_DISCOVERED"
			    android:resource="@xml/nfc_filter" />			
			-->            
        </activity>
        <activity 
	        android:name=".ActivityMessage"
            android:label="MessageDialog"
            android:screenOrientation="unspecified" 
            android:clearTaskOnLaunch="false"
            android:process=":Sub"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:taskAffinity=".ActivityMessageDialog" android:theme="@android:style/Theme.Translucent" android:excludeFromRecents="true">
        </activity>

    </application>
    
</manifest>